main {
    /* background-color: aqua; */
}

/* Search for a city */
.city-search {
    margin: 0 auto 2rem;
    width: 90%;
    /* background-color: blueviolet; */
    border: 2px solid var(--primary-dark-shade);
    padding: 2rem 2rem 0;
}

.city-search form {
    width: 100%;
}

.city-search form > * {
    margin-bottom: 1rem;
}

.city-search form input {
    border: none;
    border-bottom: 2px solid var(--primary-dark-shade);
    background: none;
    width: 100%;
    min-width: 150px;
    max-width: 300px;
    height: 4rem;
    padding-left: 1rem;
}

.city-search form button {
    display: block;
}

.city-search__search-history-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city-search__search-history-title:hover {
    cursor: pointer;
}





/* Current Weather Conditions */
.current-weather-conditions {
    /* background-color: yellow; */
    border: 2px solid var(--primary-dark-shade);
    border-left: none;
}

.current-weather-conditions__contents {
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
    flex-direction: column;
}

.current-weather-conditions__title {
    width: 100%;
    align-items: center;
}

.current-weather-conditions__title > * {
    font-size: 3rem;
    padding-right: 2rem;
}



.five-day-forecast {
    width: 100%;
    /* background-color: violet; */
    border: 2px solid var(--primary-dark-shade);
    border-left: none;
    border-top: none;
    margin: 0 auto;
    padding-bottom: 2rem;
}

.five-day-forecast__title {
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
}

.five-day-forecast__contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    padding: 2rem;
    /* border: 2px solid var(--primary-dark-shade); */
}

.five-day-forecast__contents > * {
    margin-bottom: 2rem;
    
}

.five-day-forecast__contents .day {
    width: 90%;
    max-width: 400px;
}

.five-day-forecast__contents .day:last-child {
    margin-bottom: 0;
}

.five-day-forecast__contents .day {
    border: 2px solid var(--primary-dark-shade);
    padding: 1rem;
}

.five-day-forecast__contents i {
    display: block;
}



/* Media Queries */

/* small */
@media only screen and (min-width: 576px) {
    .city-search__search-history-title {
        display: inline-block;        
    }

    .city-search__search-history-title i {
        padding-left: 0.5rem;
    }
}


/* medium */
@media only screen and (min-width: 768px) {
    
}

/* large */
@media only screen and (min-width: 992px) {
    main {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 3fr;
        grid-template-areas: 
        'search current'
        'search forecast';
    }

    .city-search {
        margin: 0 auto;
        grid-area: search;
        width: 100%;
    }

    .current-weather-conditions {
        grid-area: current;
    }

    .current-weather-conditions__contents,
    .five-day-forecast__title {
        margin-left: 0;
        padding-left: 4rem;
    }

    .five-day-forecast {
        grid-area: forecast;
        height: 100%;
    }

    
    .five-day-forecast__contents {
        /* background-color: aqua; */
        width: 100%;
        height: 90%;
        padding:0;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .five-day-forecast__contents .day {
        width: auto;
        max-width: none;
        padding: 2rem;
    }

    .five-day-forecast__contents > * {
        margin-bottom: 0;
    }

     
}