/* Custom properties */
:root {
    /* Color Palette */
    --primary-blue-color: #00509D;
    --primary-yellow-color: #FFD500;
    --secondary-blue-color: #00296B;
    --secondary-yellow-color: #FDC500;
    --tertiary-blue-color: #003F88;
    --primary-dark-shade: #000;
    --primary-light-shade: #fff;
    --box-shadow: rgba(0, 0, 0, 0.3);
    /* Fonts */
    font-size: 62.5%;
    font-family: 'Merriweather Sans', sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.1rem;
}

h4 {
    font-size: 1.8rem;
}

p,
button,
input,
ul,
a,
time,
i,
span,
textarea {
    font-size: 1.6rem;
}

small {
    font-size: 1.4rem;
}

/* Button Styling */
.button {
    padding: 1rem 2.8rem;
    color: var(--primary-light-shade);
    letter-spacing: 0.1rem;
    border: none;
    border-radius: 0.4rem;
    background-color: var(--primary-blue-color);
    box-shadow: 0 1px 2px 1px var(--box-shadow);
}
.button:hover,
.button:active {
    background-color: var(--tertiary-blue-color);
}

.button:active {
    box-shadow: none;
}



/* Layout controls */
.flex {
    display: flex;
}

.display-none {
    display: none;
}

.page-container {
    position: relative;
    /* background-color: #003F88; */
    min-height: 100vh;
    padding-bottom: 25px;
    flex-direction: column;
}

/* Header */
.header {
    width: 100%;
    /* background-color: var(--primary-blue-color); */
}

.header__contents {
    margin: 0 auto;
    padding: 2rem;
    width: 90%;
    /* background-color: var(--primary-yellow-color); */
}

.plane-icon {
    transform: translateY(-4px) rotate(-30deg);
    padding-left: 0.25rem;
}



/* Footer */
.footer {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 25px;
    width: 100%;
    /* background-color: #FFD500; */
}


/* Dynamically updated HTML */

.search-history {
    display: block;
    margin: 1rem 0;
    padding: 1rem 2rem;
    background-color: var(--primary-yellow-color);
    text-decoration: underline;
}

.search-history:hover {
    background-color: var(--secondary-yellow-color);
}




/* Media Queries */

/* x-small */
@media only screen and (max-width: 576px) {

}

/* small */
@media only screen and (min-width: 576px) {
    
}

/* medium */
@media only screen and (min-width: 768px) {
    
}

/* large */
@media only screen and (min-width: 992px) {
    .header {
        margin-bottom: 6rem;
    }

    .header__contents {
        max-width: 1440px;
    }
}

/* x-large */
@media only screen and (min-width: 1200px) {

    h1 {
        font-size: 4.8rem;
    }
    
    h2 {
        font-size: 3.6rem;
    }
    
    h3 {
        font-size: 3rem;
    }

    .plane-icon {
        transform: translateY(-6px) rotate(-30deg);
        font-size: 2rem;
        padding-left: 0.5rem;
    }
}

/* xx-large */
@media only screen and (min-width: 1400px) {

}